<ion-view view-title="關於本程式">
  <ion-content class="has-footer" overflow-scroll="false">
    <div class="list card">
      <div class="item item-divider">
          About me
      </div>
      <div class="item item-body">
        <p>盟會 : ALEXANDER</p>
        <p>平台 : android </p>
        <p>ID : Cclear</p>
        <p>版本 : v0.0.1 (測試版)</p>
        <p>簡介 : 目前只做了簡略的畫面,主要為手機觀看為主,尚未對電腦版面做特別設計.</p>
      </div>
      <div class="item item-body">
        <p>
          <i class="icon  ion-clipboard"> 資料與公式來源</i> 
          <p>城堡爭霸官方論壇-資料區</p>  
          <a href="http://cc.tw.forum.igg.com/?fcid=102" target="_blank">http://cc.tw.forum.igg.com/?fcid=102</a>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
